@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600&family=Clicker+Script&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600&family=Clicker+Script&family=Shadows+Into+Light&display=swap');


*{
    margin: 0;
    padding: 0;
}

.profile_photo{
    text-align: center;
}
.profile_photo img{
    width: 150px;
    height: 150px;
    padding: 10px;
}

.welcome{
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;

}

.username{
    font-family: 'Macondo', cursive;
}


.main{
    text-align: center;
    padding: 5px;
}